name: Terraform Testing

on:
  push:
    branches:
      - main
    paths: 
      - "modules/**"

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v1

      - uses: Stockopedia/action-get-changed-files@v1
        id: get_changed
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          ignore: "**/+(.github)"
          foldersOnly: true 
          format: csv
          
      - name: Echo
        run: echo ${{ steps.get_changed.outputs.changed }}
        
      - name: terraform fmt
        uses: dflook/terraform-fmt@v1
        with:
          path: ${{ steps.get_changed.outputs.changed }}/
        
      - name: Terraform Init
        run: terraform init
        working-directory: ${{ steps.get_changed.outputs.changed }}/

      - name: Terraform Plan
        run: terraform plan
        working-directory: ${{ steps.get_changed.outputs.changed }}/
        
